:root {
  --leyka-font-main: 'Roboto', sans-serif;
  --leyka-color-main: #F6108B;
  --leyka-color-main-inactive: #f6108b8a;
  --leyka-color-gray-superlight: #ababab;
  --leyka-color-main-second: #f7b1d6;
}

.leyka-tpl-star-form .section .section__fields .donor__oferta input:checked + label:before,
.leyka-screen-form .section .section__fields .donor__oferta input:checked + label:before {
  // border: none;
  border-color: transparent;
}

.leyka-shortcode.campaign-card {
  width: 700px;
  max-width: 100%!important;
}