.container{
	width: var(--responsive--alignwide-width);
	max-width: var(--alignwide-width);
	margin: 0 auto;
	position: relative;
}
.content-container {
	width: var(--responsive--aligndefault-width);
	max-width: var(--aligndefault-width);
	margin-left: auto;
	margin-right: auto;
}
.row {
	display: block;
	width: 100%;
	clear: both;
}

.half {
	width: 50%;
	overflow: auto;
    float:left;
}

.text-container {
	max-width: $text-container;
	
	&--center{
		margin-left: auto;
		margin-right: auto;
	}
}
