/**
 * wp-block-button
 */

 .wp-block-button__link:active, 
 .wp-block-button__link:focus, 
 .wp-block-button__link:hover, 
 .wp-block-button__link:visited {
  color: $text;
}

.wp-block-button__link {
  color: $button-color;
  background-color: $button-background-color;
  border-radius: $button-border-radius;
  font-size: $button-font-size;
  padding: $button-padding-vertical $button-padding-horizontal;
}

.is-style-outline {
  & > .wp-block-button__link {
    padding: $button-padding-vertical - 2 $button-padding-horizontal - 2;

    &:not(.has-text-color) {
      color: $button-color;
    }
  }
}

.entry-content {
  .wp-block-button__link {
    padding: $button-padding-vertical*1.5 $button-padding-horizontal*1.5;
  }
  .is-style-outline {
    & > .wp-block-button__link {
      padding: ($button-padding-vertical*1.5) - 2 ($button-padding-horizontal*1.5) - 2;
    }
  }
}