.wp-block-leyka-card {
  width: 600px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fafafa;

  .sub-block {
    margin-bottom: 24px;
  }

  .campaign-thumb {
    height: 230px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  .campaign-title {
    font-size: $font-h3;
  }

  .progressbar-unfulfilled {
    height: 8px;
    padding: 0;
    border: 0;
    border-radius: 30px;
    background-color: var(--leyka-color-main-second);

    .progressbar-fulfilled {
      height: 8px;
      padding: 0;
      border: 0;
      border-radius: 30px;
      background-color: var(--leyka-color-main);
    }
  }
}