.header-widget-area {
  margin: 0;
  padding: 0;

  .widget {
    margin: 0;
    padding: 0;
  }

  .wp-block-buttons {
    padding: 0;
    margin: 0;

    .wp-block-button {
      margin: 0;
    }
  }
}

