.site-header {
  width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 20;
  transition: $base-transition;

  .header-inner {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
  }

  .site-branding {
    display: flex;
  }

  .site-logo {
    margin-right: $spacing-horizontal;
  }

  .custom-logo-link {
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
    display: block;
    font-size: 0;
  }

  .custom-logo {
    width: auto;
    height: auto;
    max-width: $branding-logo-max-width-mobile;
    max-height: $branding-logo-max-height-mobile;
  }

  .site-title-wrapper {
    display: none;
    @media (min-width: 600px) {
      display: inline-block;
    }
  }

  .site-title {
    margin: 0 $spacing-horizontal 0 0;
    max-width: 100%;
    font-size: $site-title-font-size-mobile;
    line-height: 1.5;
    a {
      text-decoration: none;
      color: $site-title-color;
      // margin: 0;
      // padding: 0;
    }
  } 
  .site-description {
    font-size: $site-tagline-font-size;
    margin: 0 $spacing-horizontal 0 0;
  }


}

@media (min-width: $primary-nav-breakpoint) {
  .site-header {

    .header-inner {
      align-items: flex-end;
    }
    .custom-logo {
      max-width: $branding-logo-max-width-pc;
      max-height: $branding-logo-max-height-pc;
    }
    .site-title {
      font-size: $site-title-font-size-pc;
    }
  }

  .header-widget-area {
    position: absolute;
    top: 0;
    right: 133px;
  }
}
