.site-header {
  // width: 100%;
  // max-width: 100%;
  // position: relative;
  // z-index: 20;
  // transition: $base-transition;
  margin-bottom: $spacing-vertical*3;

  .header-inner {
    padding: 42px 46px 42px 0;
    display: flex;
    justify-content: space-between;
  }

  .site-branding {
    display: flex;
  }

  .site-logo {
    margin-right: $spacing-horizontal;
  }

  .custom-logo-link {
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
    display: block;
    font-size: 0;
  }

  .custom-logo {
    width: auto;
    height: auto;
    max-width: $branding-logo-max-width-mobile;
    max-height: $branding-logo-max-height-mobile;
    @media (min-width: $tablet-width) {
      max-width: $branding-logo-max-width-tablet;
      max-height: $branding-logo-max-height-tablet;
    }
  }

  .site-title-wrapper {
    display: none;
    @media (min-width: 600px) {
      display: inline-block;
    }
  }

  .site-title {
    margin: 0 $spacing-horizontal 0 0;
    max-width: 100%;
    font-size: $site-title-font-size-mobile;
    line-height: 1.5;
    a {
      text-decoration: none;
      color: $site-title-color;
      // margin: 0;
      // padding: 0;
    }
  } 
  .site-description {
    font-size: $site-tagline-font-size;
    margin: 0 $spacing-horizontal 0 0;
  }


}

@media (min-width: $primary-nav-breakpoint) {
  .site-header {

    .header-inner {
      padding: 34px 46px 34px 0;
      // align-items: flex-end;
      align-items: center;
    }
    .custom-logo {
      max-width: $branding-logo-max-width-pc;
      max-height: $branding-logo-max-height-pc;
    }
    .site-title {
      font-size: $site-title-font-size-pc;
    }
  }

  .header-widget-area {
    order: 3;
    margin-left: 1em;
    // position: absolute;
    // top: 0;
    // right: 96px;
  }
}
