@font-face {
	font-family: 'Pribambas';
  src: url('/assets/fonts/Pribambas-Regular.eot');
	src: local('☺'),
    url('/assets/fonts/Pribambas-Regular.woff') format('woff'),
    url('/assets/fonts/Pribambas-Regular.ttf') format('truetype'),
    url('fonts/Pribambas-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
