:root {
    --aligndefault-width: 720px;
    --alignwide-width: 1180px;

    --responsive--aligndefault-width: min(75vw, var(--aligndefault-width) );
    --responsive--alignwide-width: min(75vw, var(--alignwide-width) );

    --heading--font-size-h2: 32px;
    --heading--font-size-h3: 24px;
}
@media (min-width: 581px) {
    :root {
        --responsive--aligndefault-width: min(88vw, var(--aligndefault-width) );
        --responsive--alignwide-width: min(88vw, var(--alignwide-width) );
    }
}
@media (min-width: 769px) {
    :root {
        --responsive--aligndefault-width: min(90vw, var(--aligndefault-width) );
        --responsive--alignwide-width: min(90vw, var(--alignwide-width) );
    }
}
@media (min-width: 1281px) {
    :root {
        --heading--font-size-h2: 40px;
        --heading--font-size-h3: 28px;
    }
}


@media (min-width: 1600px) { // Large Desktops
    :root {
        --heading--font-size-h2: 42px;
        --heading--font-size-h3: 32px;
    }
}