:root {    
    --aligndefault-width: 720px;
    --alignwide-width: 1180px;

    --responsive--aligndefault-width: min(calc(100vw - 30px), var(--aligndefault-width) );
    --responsive--alignwide-width: min(calc(100vw - 30px), var(--alignwide-width) );

    --leyka-font-main: 'Montserrat', sans-serif;
    --leyka-color-main: #15256b;
    --leyka-color-main-inactive: #15256b7c;
}

@media (min-width: 1440px) { // Large Desktops
    :root {
        --alignwide-width: 1400px;
    }
}