// Colors
$primary: rgb(53, 86, 231);
$secondary: rgb(66, 100, 251);
$accent: #06d19c;
$primary-dark: darken($primary,8%);
$text: #1b1b1b;
$text-dark: #1b1b1b;
$background: #ffffff;
$background-alt: #f7f7f7;
$background-dark: #333C44;
$background-dark-color: #fff;
$line: #eee;
$success: #06d19c;
$error: tomato;
$pink: #F6108B;

$color__headings: $text;
$color__social-link: $primary;
$color__social-link-hover: $primary-dark;

$color__background-screen: #f1f1f1;
$color__background-hr: $primary;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__link: $text-dark;
$color__link-visited: $text;
$color__link-hover: $text-dark;
$color__border-abbr: #666;


$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-xxxl: 48px;
$font-h1: 2.074em;
$font-h2: var(--heading--font-size-h2);
$font-h3: var(--heading--font-size-h3);

// Typography
$font: 'Lora', serif;
$font-heading: 'Cormorant', serif;
$font-heading-weight: 700;
$font__system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-cormorant: 'Cormorant', serif;
$font-size: 16px;
$line-height: 1.7;
$light: 100;
$normal: 400;
$bold: 700;

// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
// $font__line-height-body: 1.5;
// $font__line-height-pre: 1.6;

// Containers
$text-container: 1480px;
$content-width: 1480px;

// Media queries
$mobile-width: 581px !default; // Mobile
$tablet-width: 769px !default; // Tablets
$desktop-width: 1281px !default; // Desktops & Laptops
$huge-width: 1600px !default; // Large Desktops

/* Spacing */
$spacing-horizontal: 15px;
$spacing-vertical: 20px;
$block-spacing-vertical: 1.5em;

// Buttons
$button-font-size: 20px;
$button-line-height: 1.5;
$button-color: $text;
$button-color-hover: $primary;
$button-border-color: #1b1b1b42;
$button-border-color-hover: $primary;
$button-background-color: transparent;
$button-background-color-hover: transparent;
$button-border-radius: 0px;
$button-padding: 8px 16px;
$button-padding-is-style-outline: 6px 14px;

$button-padding-vertical: 8px;
$button-padding-horizontal: 16px;

// Forms
$input-font-size: $font-size;
$input-line-height: 1.5;
$input-color: $text;
$input-color-focus: $text;
$input-border-color: #1b1b1b42;
$input-border-color-hover: $text;
$input-background: transparent;
$input-background-hover: $background;
$input-border-radius: 0;
$input-border-radius-hover: 1px;
$input-padding: 8px 10px;
$textarea-border-radius: 0px;

$label-color: $text;
$label-font-size: 14px;

// Site-branding
$branding-logo-max-width-mobile: 100px;
$branding-logo-max-height-mobile: 40px;
$branding-logo-max-width-tablet: 110px;
$branding-logo-max-height-tablet: 45px;
$branding-logo-max-width-pc: 120px;
$branding-logo-max-height-pc: 50px;
$site-title-font-size-mobile: 24px;
$site-title-font-size-pc: 28px;
$site-title-color: $text-dark;
$site-tagline-font-size: $font-size;

// Primary navigation
$burger-color: $primary;
$primary-nav-color-link: $primary;
$primary-nav-color-link-hover: $primary;
$primary-nav-font-size-mobile: 22px;
$primary-nav-font-size-pc: 18px;
$primary-nav-font-weight: $bold;
$primary-nav-background: $secondary;
$primary-nav-submenu-background: $background;
$primary-nav-breakpoint: 1068px;

// Other variables
$radius: 20px;
$box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
$radius-block: 10px;
$base-transition: 0.7s;