.page {
	position: relative;
}

.sticky {
	display: block;
}

// .post,
// .page {
// 	margin: 0 0 1.5em;
// }

.entry-header,
.entry-footer,
.page-header {
	@include container-content;
}

.entry-title,
.entry-title a {
	text-decoration: none;
	color: $text-dark;

}

.post-thumbnail {
	@include container-content;
}
.post-thumbnail-inner {
	display: block;
	text-decoration: none;
	outline: none;
}

a.read-more {
	text-decoration: none;
	color: $text-dark;
}

.entry-meta,
.entry-footer {
  
	a {
    color: $text;
    text-decoration: none;
  }
	& > *:not(:last-child) {
		margin-right: 1em;
	}
}

.entry-date:not(.published) {
	display: none;
}
.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

