.page {
	position: relative;
}

.sticky {
	display: block;
}

// .post,
// .page {
// 	margin: 0 0 1.5em;
// }

.entry-header,
.page-header,
.entry-meta,
.entry-footer {
	@include container-content;
}

.single .entry-header,
.single .post-thumbnail {
	margin-top: 30px;
	margin-bottom: 30px;
}

.entry-title,
.entry-title a {
	text-decoration: none;
	font-size: $font-h2;
	// color: $text-dark;
}

.post-thumbnail {
	@include container-content;
}
.post-thumbnail-inner {
	display: block;
	text-decoration: none;
	outline: none;
}

a.read-more {
	// text-decoration: none;
	// color: $text-dark;
}

.entry-meta,
.entry-footer {
  
	a {
    color: $text;
    // text-decoration: none;
  }
	& > *:not(:last-child) {
		margin-right: 1em;
	}
}

.entry-footer {
	margin-top: $spacing-vertical;
	margin-bottom: $spacing-vertical;
}

.entry-date:not(.published) {
	display: none;
}
.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

