.margin-right{
	margin-right: 8pt;
}
.mt-0 {
	margin-top: 0!important;
}
.mb-0 {
	margin-bottom: 0!important;
}
.ml-0 {
	margin-left: 0!important;
}
.mr-0 {
	margin-right: 0!important;
}
.mt-16 {
	margin-top: 16px;
}
.not-mobile {
	@media (max-width: #{$desktop-width}) {
		display: none!important;
    }
}

.only-mobile {
	@media (min-width: #{$desktop-width}) {
		display: none!important;
    }
}
.desktop-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	@media (min-width: $desktop-width) {
		max-width: var(--alignwide-width);
	}
}
.background-dark {
	background-color: $background-dark;
}
.display-block {
	display: block;
}

.invalid {
	color: $error;
}
.helper-text {
	display: none;
}
.helper-text.invalid {
	display: block;
}
a.label {
	display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 0.9em;
	// border-bottom: 1px dotted $primary;
}
.bottom-dotted {
	border-bottom: 1px dotted $primary;
}
.font-normal {
	font-weight: $normal;
}
.bold {
	font-weight: $bold;
}
.justify-center {
	justify-content: center;
}
.align-center {
	align-items: center;
}
.cormorant {
	font-family: 'Cormorant', serif;
	letter-spacing: -0.015em;
}
.mobile-100,
input.mobile-100 {
	@media (max-width: $tablet-width) {
		width: 100%;
	}
}
.tablet-flex {
	@media (min-width: $tablet-width) {
		display: flex;
	}
}
.flex-wrap {
	flex-wrap: wrap;
}

// loader
.loader {
	max-width: 15rem;
	width: 100%;
	height: auto;
	stroke-linecap: round;
}

circle {
	fill: none;
	stroke-width: 3.5;
	animation-name: preloader;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	transform-origin: 170px 170px;
	will-change: transform;

	&:nth-of-type(1) {
		stroke-dasharray: 550px;
	}

	&:nth-of-type(2) {
		stroke-dasharray: 500px;
	}

	&:nth-of-type(3) {
		stroke-dasharray: 450px;
	}

	&:nth-of-type(4) {
		stroke-dasharray: 300px;
	}

	@for $i from 1 through 4 {
		&:nth-of-type(#{$i}) {
			animation-delay: -#{$i * 0.15}s;
		}
	}
}

@keyframes preloader {
	50% {
		transform: rotate(360deg);
	}
}

