/* Menu toggle */

#menu-toggle {
	background: transparent;
	border: none;
	pointer-events: bounding-box;
	position: fixed;
	display: block;
	width: 60px;
	height: 60px;
	right: calc(3.75vw - 24px);
	top: 14px;
	z-index: 500;
	transition: transform 0.5s ease-in-out 0.125s;
}

#menu-toggle div {
  position: absolute;
  left: 24px;
  width: 16px;
  height: 2px;
  background-color: #1b1b1b;
  background: var(--button-color, #1b1b1b);
  transition: width 0.125s ease-in-out, top 0.25s ease-in-out 0.5s,
    transform 0.25s ease-out 0.25s, opacity 0.001s linear 0.5s,
    background-color 0.25s linear;
}

#menu-toggle.animating div {
  transition: width 0.125s ease-in-out, top 0.25s ease-in-out 0.5s,
    transform 0.25s ease-out 0.25s, opacity 0.001s linear 0.5s;
}

#menu-toggle.light div {
  background: white;
}

#menu-toggle div:nth-child(1),
#menu-toggle div:nth-child(2),
#menu-toggle:hover div {
  width: 24px;
}

#menu-toggle div:nth-child(1) {
  top: 29px;
}

#menu-toggle div:nth-child(2) {
  top: 35px;
}

#menu-toggle div:nth-child(3) {
  top: 41px;
}

#menu-toggle.opened,
.primary-navigation-open #menu-toggle {
  transform: rotate(90deg);
  transition: transform 0.5s ease-in-out 0.375s;
}

#menu-toggle.opened div,
.primary-navigation-open #menu-toggle div {
  width: 24px;
	background-color: white;
  transition: width 0.125s ease-in-out 0.875s, 
		top 0.25s ease-in-out 0.25s,
    transform 0.25s ease-out 0.5s, 
		opacity 0.001s linear 0.5s, 
		background-color 0.25s linear;
}

.primary-navigation-open #menu-toggle div:nth-child(1) {
  top: 35px;
  transform: rotate(45deg);
}

.primary-navigation-open #menu-toggle div:nth-child(2) {
  opacity: 0;
}

.primary-navigation-open #menu-toggle div:nth-child(3) {
  top: 35px;
  transform: rotate(-45deg);
}

#menu-toggle.closing div {
  width: 24px;
}

// @media only screen and (min-width: 1600px) {
//   #menu-toggle {
//     right: 36px;
//   }
// }

@media only screen and (max-width: 1280px) {
  #menu-toggle {
    right: calc(5vw - 24px);
  }
}

@media only screen and (max-width: 768px) {
  #menu-toggle {
    right: calc(6vw - 24px);
  }
}

@media only screen and (max-width: 580px) {
  #menu-toggle {
    right: calc(12.5vw - 24px);
  }
}