/* Menu toggle */
button.menu-toggle {
   display: inline-flex;
   z-index: 999;
   background-color: transparent;
   box-shadow: none;
   margin: 0;
   padding: 0px;
   border: none;
   position: relative;
   overflow: hidden;
   outline: none;

   @media (min-width: $primary-nav-breakpoint) {
      display: none;
   }
}

.burger {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 36px;
   height: 36px;
   cursor: pointer;
   position: relative;

   .burger__inner,
   .burger__inner::before,
   .burger__inner::after {
      background: $burger-color;
      width: 24px;
      height: 2px;
      position: absolute;
   }

   .burger__inner {
      display: block;
      top: 50%;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
   }

   .burger__inner::before,
   .burger__inner::after {
      content: "";
      display: block;
   }
   .burger__inner::before {
      top: -8px;
      transition: top 0.2s 0.3s ease, opacity 0.2s ease;
   }
   .burger__inner::after {
      bottom: -8px;
      transition: bottom 0.2s 0.3s ease;
      // -webkit-transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: bottom 0.2s 0.3s ease, transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: bottom 0.2s 0.3s ease, transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19), 
      // -webkit-transform 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
   }
}

/* Button active */
body.primary-navigation-open,
button.menu-toggle.active {
   
   .burger__inner {
      transform: rotate(45deg);
      transition-delay: 0.4s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
   }
   
   .burger__inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.4s ease, opacity 0.1s 0.2s ease;
   }
   
   .burger__inner::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.2s 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
   }
}
