.footer-navigation {
  max-width: 100%;
  margin-top: $spacing-vertical;
  margin-bottom: $spacing-vertical;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    margin: 0;
    padding: 0;

    li {
      margin-left: 1em;
      &:first-child {
        margin-left: 0;
      }
    }
    a {
      text-decoration: none;
    }
  }
}