// posts-navigation
.navigation.pagination {
	@include container-content;
	margin-top: $spacing-vertical*2;
	// margin-bottom: $spacing-vertical;

	.nav-links {
		display: flex;
		justify-content: space-between;

		& > * {
			color: $text;
			text-decoration: none;
			font-size: $font-size;
			margin-left: 1em;
			margin-right: 1em;

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			&.prev {
				margin-right: auto;
			}
			&.next {
				margin-left: auto;
				.svg-icon {
					margin-right: 0;
				}
			}
			&.current {
				opacity: 0.7;
			}
		}
		
	}
}

.navigation.post-navigation {
	@include container-content;
	margin-top: $spacing-vertical*2;
	margin-bottom: $spacing-vertical*2;

	.nav-links {
		display: flex;
		justify-content: space-between;

		& > *:not(:last-child) {
			margin-right: 1em;
		}
	}

	a {
		text-decoration: none;
		color: $text;
	}

	.nav-next {
		text-align: right;
	}

	.nav-subtitle {
		font-size: $font-size-xs;
	}
	.nav-title {
		display: block;
		color: $text;
		font-weight: $bold;
		// font-size: $font-size-l;
	}
}