.primary-navigation {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 650px;
	background: $primary-nav-background; 
  z-index: 400;
	transform: translateX(110%);
	transition: ease transform 0.7s;
  /* display: none; */
	/* visibility: hidden; */

  ol,
  ul,
  li {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .primary-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    min-height: 100%;
    padding-left: 12%;
    max-width: 83%;
  }

  .menu-wrapper {
    // width: 80%;

    li {
      font-size: 64px;
      font-family: $font-heading;
      font-weight: $bold;
      -webkit-font-smoothing: antialiased;
      line-height: 2em;
    }
    
    a {
      position: relative;
      text-decoration: none;
      color: white;

      &:after {
        content: '';
        display: block;
        background: rgb(255, 255, 255);
        height: 0;
        position: absolute;
        left: -8px;
        right: -12px;
        bottom: -1px;
        opacity: 0.1;
        transition: height 0.25s ease, opacity 0.25s ease;
      }

      &:hover::after {
        height: 27px;
        opacity: 0.15;
      }
    }
    li.current-menu-item a::after {
      height: 27px;
      opacity: 0.15;
    }
  }
}

/* Menu open
--------------------------------------------- */
body.primary-navigation-open {
  overflow: hidden;

  .site-main {
    transform: scale(0.90);
    opacity: 0.5;
  }
  // .site-main,
  .site-branding {
    transform: scale(0.95);
  }


  .primary-navigation {
    display: block;
    transform: translateX(0%);
  }
}


.follow-bar {
  position: absolute;
  top: 140px;
  right: calc(3.75vw - 24px);
  width: 60px;
  color: white;
}
.follow-bar-text {
  transform: rotate(90deg);
}
#primary-menu-follow-list {
  margin-top: 130px;
}
#primary-menu-follow-list a {
  width: 60px;
  max-width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
#primary-menu-follow-list svg {
  fill: #fff;
  width: 20px;
}

/* Media
--------------------------------------------- */

@media only screen and (max-width: 1280px) {

	.primary-navigation {
		width: 54%;
    .menu-wrapper {
      li {
        font-size: 60px;
        a {}
      }
    }
  }
  .follow-bar {
    right: calc(5vw - 24px);
  }

}

@media only screen and (max-width: 768px) {

	.primary-navigation {
		width: 64%;
    .menu-wrapper {
      li {
        font-size: 52px;
        
        a {}
      }
    }
  }
  .follow-bar {
    right: calc(6vw - 24px);
  }

}

@media only screen and (max-width: 580px) {

	.primary-navigation {
		width: 88%;
    .primary-menu-container {
      padding-left: 8%;
    }
    .menu-wrapper {
      li {
        font-size: 42px;
        a {}
      }
    }
  }

  .follow-bar {
    right: calc(12.5vw - 24px);
    top: 86px;
  }
  .follow-bar-text {
    display: none;
  }
  #primary-menu-follow-list {
    margin-top: 5px;
  }
  #primary-menu-follow-list a {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 400px) {
	.primary-navigation .primary-menu-container {
		padding-left: 6%;
	}
}