.primary-navigation {
  // display: none;
	// width: 100%;

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: $primary-nav-color-link;
    font-size: $primary-nav-font-size-mobile;
    font-weight: $primary-nav-font-weight;
    display: block;
    padding: 0.5em 1em 0px 1em;
  }

  .primary-menu-container {
    position: fixed;
    top: -99px;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100vh;
    padding: 100px 20px 20px;
    background: $background;
    transition: $base-transition;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
  }
  ////////

  > div > .menu-wrapper {
    margin: 0;
    padding: 1em;
    padding-bottom: 60px;
    // For mobile open
    display: none;
    
    li {
      position: relative;
      // padding: 0.5em 1em 0px 1em;

      a {
        padding-right: 1.2em;
      }

      .sub-menu {
        padding-left: 1em;
        max-height: 1px;
        overflow: hidden;
        transition: $base-transition;
      }

      .sub-menu-toggle {
        position: absolute;
        padding: 0;
        margin: 0;
        top: 8px;
        right: 0;
        background-color: transparent;
        width: 24px;
        height: 24px;
        border: none;

        &::before,
        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 8px;
          height: 2px;
          background-color: $burger-color;
        }
        &::before {
          transform: rotate(45deg);
          right: 9px;
        }
        &::after {
          transform: rotate(-45deg);
          right: 3px;
        }
      }
      &.sub-menu-open {
        .sub-menu {
          max-height: 1000px;
        }
        .sub-menu-toggle {
          transform: rotate(180deg);
        }
      }
    }
    

  }
}

@media (min-width: $primary-nav-breakpoint) {
  .primary-navigation {
    display: block;
    // margin-top: 2em;
    // margin-top: 40px;

    .primary-menu-container {
      position: relative;
      padding: 0;
      visibility: visible;
      top: initial;
      overflow-y: initial;
      overflow-x: initial;
      background: transparent;
    }
    
    > div > .menu-wrapper {
      // padding: 0px 0 10px 0;
      padding: 0;
      display: flex;
      justify-content: center;

      li {
        // padding: 0.5em 1em;

        &.menu-item-has-children a {
          padding-right: 1.2em;
        }

        .sub-menu-toggle {
          display: block;
          top: 9px;
          width: 19px;
          height: 19px;
        }

        .sub-menu {
          position: absolute;
          top: calc(100% - 10px);
          // left: 0;
          right: 0;
          padding-left: 0;
          min-width: max-content;
          background-color: $primary-nav-submenu-background;
          box-shadow: 1px 1px 2px 0px #fff;
          transition: $base-transition;
          opacity: 0;
          visibility: hidden;
          max-height: 1000px;
          z-index: -1;
        }
        
        /* Submenu active */
        &:hover,
        &.sub-menu-open {
                    
          .sub-menu {
            visibility: visible;
            opacity: 1;
            top: 100%;
            z-index: 10;
          }

          .sub-menu-toggle {
            transform: rotate(180deg);
          }
        }

      }
    }
    a {
      font-size: $primary-nav-font-size-pc;
      padding: 0.5em 1em;
      &::after {
        content: "";
        display: block;
        border-bottom: solid 1px $burger-color;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        color: $primary-nav-color-link-hover;
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

body.primary-navigation-open {
  overflow: hidden;
  
  .primary-navigation {
    display: block;

    .primary-menu-container {
      z-index: 99;
      visibility: visible;
      top: 0;
    }

    > div > .menu-wrapper {
      display: block;
    }
  }
}