.primary-navigation {
  display: block;
	width: 100%;

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: $primary-nav-color-link;
    font-size: $primary-nav-font-size-mobile;
    display: block;
    padding: 0.5em 1em 0px 1em;
  }

  .primary-menu-container {
    max-height: 0px;
    overflow: hidden;
    transition: $base-transition;
  }

  > div > .menu-wrapper {
    margin: 0;
    padding: 1em;
    padding-bottom: 60px;
    
    li {
      position: relative;
      // padding: 0.5em 1em 0px 1em;

      .sub-menu {
        padding-left: 1em;
      }

      .sub-menu-toggle {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 100%;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        /* Don't show small screen */
        display: none;

        &::before,
        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 8px;
          height: 2px;
          background-color: $burger-color;
        }
        &::before {
          transform: rotate(45deg);
          right: 9px;
        }
        &::after {
          transform: rotate(-45deg);
          right: 3px;
        }
      }
    } 
  }
}

@media (min-width: $primary-nav-breakpoint) {
  .primary-navigation {

    .primary-menu-container {
      max-height: 1000px;
      overflow: initial;
    }
    
    > div > .menu-wrapper {
      display: flex;
      justify-content: center;

      li {
        // padding: 0.5em 1em;

        &.menu-item-has-children a {
          padding-right: 1.2em;
        }

        .sub-menu-toggle {
          display: block;
        }

        .sub-menu {
          position: absolute;
          top: calc(100% - 10px);
          left: 0;
          min-width: max-content;
          background-color: $primary-nav-submenu-background;
          box-shadow: 1px 1px 2px 0px #fff;
          transition: $base-transition;
          opacity: 0;
          visibility: hidden;
        }
        
        /* Submenu active */
        &:hover,
        &.sub-menu-open {
                    
          .sub-menu {
            visibility: visible;
            opacity: 1;
            top: 100%;
          }

          .sub-menu-toggle {
            transform: rotate(180deg);
          }
        }

      }
    }
    a {
      font-size: $primary-nav-font-size-pc;
      padding: 0.5em 1em;
      &::after {
        content: "";
        display: block;
        border-bottom: solid 1px $burger-color;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        color: $primary-nav-color-link-hover;
        &::after {
          transform: scaleX(1);
        }
      }
    }
    // .current_page_item > a,
    // .current-menu-item > a {
    //   &::after {
    //     transform: scaleX(1);
    //   }
    // }
  }
}

/* Menu active */
body.primary-navigation-open,
.toggled {
  .primary-menu-container {
    max-height: 1000px;
  }
}