html {
	font-family: $font__system;
	font-size: $font-size;
	color: $text;
	// line-height: $line-height;
	font-weight: $normal;
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
	// text-rendering: optimizeLegibility;
	// -moz-font-feature-settings: "liga" on;
}
body,
button,
input,
select,
optgroup,
textarea {
	font-family: $font;
}

p {
	margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1, h2, h3, h4 {
	margin: 1.414em 0 0.5em;
	line-height: 1.35;
	color: $color__headings;
	font-weight: $normal;
}

h5, h6 {
	margin: 1.414em 0 0.5em;
	line-height: 1.4;
	color: $text-dark;
	font-weight: $normal;
}

h1 {
	margin-top: 0;
	font-size: $font-h1;
}

h2 {
	font-size: $font-h2;
}

h3 {
	font-size: $font-h3;
}

h4 {
	font-size: 1.2em;
}

small,
h6, 
.small {
	font-size: 0.833em;
  margin: 0.25em 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 0.85rem;
  color: $text-dark;
  width: min-content;
  background: $background-alt;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  padding: 8pt 16pt;
  width: 100%;
  //max-width: 85%; // Remove later
  overflow: auto;
  border: 1px solid $line;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

big {
	font-size: 20px;
}
