.site-info {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    
    a {
       color: $text;
       text-decoration: none;
    }
    // a:hover {
    //    color: $color__footer-link-hover;
    // }
    .site-name {}

    .copyright{}

    a.privacy-policy-link {
       border-bottom: 1px dotted;
       padding-bottom: 1pt;
    }
    .sep {
       color: $primary;
    }
    .theme-author {}

 }