.woocommerce form .form-row .optional {
  display: none;
}
// .woocommerce-billing-fields__field-wrapper .form-row span.optional {
//   display: none;
// }
.woocommerce-error {
  border-top: 2px solid $error; // --accent-color
}
.woocommerce-info, 
.woocommerce-message {
  border-top: none; // --accent-hover-color
}

.woocommerce-form-coupon-toggle .woocommerce-info {
  border-top: none;
  background-color: transparent;
}

.woocommerce form.checkout_coupon {
  border: none;
}

.woocommerce #respond input#submit,
.woocommerce a.button, 
.woocommerce button.button,
.woocommerce input.button {
  border: solid 1px $button-border-color;
  background-color: transparent;
  border-radius: $button-border-radius;
  color: $button-color;
}

.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover {
  background-color: transparent;
  color: $button-color;
  border-color: $button-border-color-hover;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
  // background-color: #a46497;
  // color: $button-color;
  font-weight: $bold;
  background-color: $background; 
  color: $text;
}
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover {
  // background-color: $secondary;
  border-color: $button-color-hover;
  background-color: $background-alt;
  color: $text;
}

.woocommerce-terms-and-conditions-wrapper .woocommerce-privacy-policy-text a {
  color: var(--accent-color, $primary);
}

.course:not(body), 
.course-container, 
.course-container .course {
  border-bottom: none;
}

.woocommerce form .form-row .input-checkbox {
  position: relative;
  left: unset;
  visibility: visible;
}
