// Unicode characters
@charset "UTF-8";

@import "01-settings/file-header";

// @import "01-settings/fonts";

@import "01-settings/root";
@import "01-settings/variables";

@import "02-tools/structure";
@import "02-tools/columns";
@import "02-tools/mixins";

@import "03-generic/normalize";
@import "03-generic/box-sizing";
@import "03-generic/base";
@import "03-generic/containers";

@import "04-elements/typography";
@import "04-elements/body";
@import "04-elements/hr";
@import "04-elements/blockquote";

@import "04-elements/lists";
@import "04-elements/media";
@import "04-elements/tables";

@import "04-elements/links";

@import "04-elements/buttons";
@import "04-elements/forms";

/* Blocks */
@import "05-blocks/wp-block-cover";
@import "05-blocks/p";
@import "05-blocks/buttons";
@import "05-blocks/wp-block-media-text";
@import "05-blocks/wp-block-latest-posts";
  
/* Alignments */
  @import "05-blocks/alignments";


/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
// @import "layouts/content-sidebar"; // Uncomment this line for a sidebar on right side of your content.
// @import "layouts/sidebar-content"; // Uncomment this line for a sidebar on left side of your content.

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@import "06-components/header/header-top";
@import "06-components/header/header-widget";

@import "06-components/navigation/burger-menu-toggle";
@import "06-components/navigation/primary-navigation";
@import "06-components/navigation/navigation";
@import "06-components/navigation/social-navigation";
@import "06-components/navigation/footer-navigation";

@import "06-components/widgets/widgets";
@import "06-components/media/svg-icon";
@import "06-components/media/media";
@import "06-components/media/captions";
@import "06-components/media/galleries";

@import "06-components/canvas";

/* Header */
@import "06-components/header/header";
@import "06-components/content/site-main";

@import "06-components/content/posts-and-pages";
@import "06-components/content/template-left-right";
@import "06-components/content/404";
@import "06-components/content/search";

@import "06-components/comments/comments";

/* Footer */
@import "06-components/footer/footer";

/* Tutor LMS */
// @import "06-components/tutor/tutor";

/* Sensei */
@import "06-components/sensei/sensei";
/* WooCommerce */
@import "06-components/woocommerce/woocommerce";

/* Front-page Form */
@import "06-components/front-page-form";

/* Share button */
@import "06-components/share-button";



/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
/* Accessibility */
@import "07-utilities/accessibility";

/* Helpers classes */
@import "07-utilities/helpers";

/* Dark mode */
@import "07-utilities/dark";

